.comoLoHacemos__backgroundPicture {
  background-image: url(https://res.cloudinary.com/marangadev/image/upload/v1709131877/consultora/ComoLoHacemos_jydxyf.webp);
  background-size: contain;
  background-position: 50% 50%;
  opacity: 0.9;
}
