.Div__Input {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 5.4px 33px;
  font-weight: 100;

  input {
    color: orangered;
  }
  textarea {
    color: orangered;
  }
  button:hover {
    color: orangered !important;
  }
}
.parrafoContacto {
  font-size: clamp(1.6rem, 2vw, 2rem);
}

.form-btn {
  background-color: rgba(255, 68, 0, 0.5);
}
