.carouselImg__Top {
  border-radius: 10px;
  border: 1px solid orangered;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.541);
  color: whitesmoke;
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 15px;
  animation-name: enterRightLeft;
  animation-duration: 3s;
  @keyframes enterRightLeft {
    from {
      right: -500px;
    }
    to {
      right: 15%;
    }
  }
}
