.main__background {
  background-image: url(../img/QueHacemos.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.div__paragraph {
  background-color: rgba(255, 68, 0, 0.8);
}
.paragraph__title {
  font-size: clamp(2.5rem, 2vw, 2rem) !important;
  font-weight: bolder;
  color: black;
}
.paragraph {
  font-family: 'Roboto Slab', serif;
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: bolder;
  color: black;
}


