.quienesSomos__backgroundPicture {
  background-image: url(../img/2201_w039_n003_90b_p1_90.jpg);
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}

.title {
  font-size: clamp(3rem, 4vw, 5rem) !important;
  font-weight: bolder;
  color: black;
}

.divMivi {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  height: 500px;
  border: 2px solid black !important;
  margin-bottom: 50px;
  h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.2rem;
    text-decoration: underline;
  }
  p {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
  }
}
.divMision {
  @extend .divMivi;
  background-image: url(../img/7566-min.jpg);
  background-position: 60% 48px;
}
.divVision {
  @extend .divMivi;
  background-image: url(../img/8619-min.jpg);
  background-position: 60% 82px;
}
.divValores {
  @extend .divMivi;
  background-image: url(../img/4565-min.jpg);
  background-position: 60% 40px;
}
