@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.nav-link {
  color: rgb(233, 62, 0);
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
}

.logo-text {
  font-size: clamp(2rem, 6vw, 4rem);
}

.logo-text-2 {
  font-size: clamp(1rem, 3vw, 2rem);
}

.bordeAnimado {
  width: 145px;
  height: 50px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 3s;
}

.bordeAnimado::before,
.bordeAnimado::after {
  position: absolute;
  background: transparent;
  z-index: -1;
  content: "";
}

.bordeAnimado::before {
  height: 50px;
  width: 0px;
}

.bordeAnimado::after {
  width: 145px;
  height: 50px;
}

.bordeAnimado:hover::before {
  width: 145px;
  box-shadow: inset 0 0 40px black;
  transition: 3s;
  border: 1px solid orangered;
}

.bordeAnimado:hover::after {
  height: 0px;
  box-shadow: inset 0 0 40px black;
  transition: 3s;
}

.bordeAnimado:hover {
  transition: 1s;
  box-shadow: inset 0 0 40px white;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto Slab", serif !important;
}

.carouselImg__Top {
  border-radius: 10px;
  border: 1px solid orangered;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.541);
  color: whitesmoke;
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding: 15px;
  animation-name: enterRightLeft;
  animation-duration: 3s;
}
@keyframes enterRightLeft {
  from {
    right: -500px;
  }
  to {
    right: 15%;
  }
}

footer {
  height: fit-content;
}

.footer__DivSocialNav {
  max-width: 320px;
  height: 100px;
}
.footer__DivSocialNav div > a > img:hover {
  box-shadow: inset 5px 5px 30px rgb(255, 68, 0);
  border-radius: 20%;
}

.footer__SocialNav__Cover {
  border: 1px solid orangered;
  height: 84px;
  position: relative;
  bottom: 92px;
  transition: 3s;
  background-color: rgba(0, 0, 0, 0.541);
  width: 324px;
}
@media (max-width: 764px) {
  .footer__SocialNav__Cover {
    display: none !important;
  }
}

.footer__SocialNav__CoverMove {
  transform: translateY(80px);
  transition: 5s;
}

.footer__DivMapAndData {
  height: fit-content;
}

.map {
  width: 145px;
  height: 150px;
  background-color: lightgray;
  margin: 5px;
}

.data {
  margin: 5px;
  padding: 5px;
}
.data ul {
  color: orangered;
  font-family: "Roboto Slab", serif;
}
.data ul li {
  font-size: 1.1rem;
  line-height: 25px;
  font-weight: 500;
}

.data-icons {
  font-size: 2rem;
  font-weight: bolder;
  color: black;
  margin: 0px 5px;
}

.contacto__backgroundPicture {
  background-image: url(https://res.cloudinary.com/marangadev/image/upload/v1709135480/consultora/57315_irqpwu.webp);
  background-size: contain;
  background-position: center;
  opacity: 0.9;
}

form {
  background-color: rgba(252, 160, 133, 0.4705882353);
}

.Div__Input {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 5.4px 33px;
  font-weight: 100;
}
.Div__Input input {
  color: orangered;
}
.Div__Input textarea {
  color: orangered;
}
.Div__Input button:hover {
  color: orangered !important;
}

.parrafoContacto {
  font-size: clamp(1.6rem, 2vw, 2rem);
}

.form-btn {
  background-color: #adb5bd;
}

.quienesSomos__backgroundPicture {
  background-image: url(https://res.cloudinary.com/marangadev/image/upload/v1709135476/consultora/2201_w039_n003_90b_p1_90_e5o8oa.webp);
  background-size: contain;
  background-position: center;
  opacity: 0.9;
}

.title {
  font-size: clamp(3rem, 4vw, 5rem) !important;
  font-weight: bolder;
  color: black;
  background-color: rgba(255, 68, 0, 0.8);
}

.divMivi, .divValores, .divVision, .divMision {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  height: 500px;
  border: 2px solid black !important;
  margin-bottom: 50px;
}
.divMivi h3, .divValores h3, .divVision h3, .divMision h3 {
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  text-decoration: underline;
}
.divMivi p, .divValores p, .divVision p, .divMision p {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}

.divMision {
  background-image: url(https://res.cloudinary.com/marangadev/image/upload/v1709135479/consultora/7566-min_l3laqq.webp);
  background-position: 60% 48px;
}

.divVision {
  background-image: url(https://res.cloudinary.com/marangadev/image/upload/v1709135479/consultora/8619-min_pdha30.webp);
  background-position: 60% 82px;
}

.divValores {
  background-image: url(https://res.cloudinary.com/marangadev/image/upload/v1709135477/consultora/4565-min_qefppd.webp);
  background-position: 60% 40px;
}

.main__background {
  background-image: url(https://res.cloudinary.com/marangadev/image/upload/v1709135533/consultora/QueHacemos_ncis0u.webp);
  background-size: contain;
  background-position: center;
  opacity: 0.9;
}

.div__paragraph {
  background-color: rgba(255, 68, 0, 0.8);
}

.paragraph {
  font-family: "Roboto Slab", serif;
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: bolder;
  color: black;
}

.comoLoHacemos__backgroundPicture {
  background-image: url(https://res.cloudinary.com/marangadev/image/upload/v1709131877/consultora/ComoLoHacemos_jydxyf.webp);
  background-size: contain;
  background-position: 50% 50%;
  opacity: 0.9;
}

/*# sourceMappingURL=styles.css.map */
